<% set_meta_tags title: 'Кращі футбольні новини' %>

<h5><p>Найкраще</p></h5>
<% @posts.where('rating > 0').order('rating DESC').first(20).each do |post| %>
  <div class="post_card">
    <div class="table_cell">
      <div class="rating_up" data-post-id="<%= post.id %>" data-post-rating="<%= post.rating %>"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div>
      <div class="rating_integer_<%= post.id %>"><%= post.rating %></div>
      <div class="rating_down" data-post-id="<%= post.id %>" data-post-rating="<%= post.rating %>"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></div>
    </div>
    <% if post.url.length > 0 %>
      <h5><%= link_to post.title, post.url, target: '_blank' %> <small class="text-muted"> (<%= post.try(:domain) %>)</small></h5> 
    <% else %>
      <h5><%= link_to post.title, post %></h5>
    <% end %>
    <% if user_signed_in? %>
      <% if post.author.try(:id) == current_user.id || current_user.role == "moderator" %>
        <p><%= link_to "Редагувати", edit_post_path(post) %> <%= link_to "Видалити", post, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
      <% end %>
    <% end %>

    <div class="post_info">Додав: <%= link_to post.author.try(:name), user_path(post.author.try(:id)) %>, <%= time_ago_in_words post.created_at %></div>

    <div>
      <% if post.comments.size > 0 %>
        <div>
          <%= link_to(post) do %>
            Коментарів: <%= post.comments.size %>
          <% end %>
        </div>
      <% else %>
        <div><%= link_to 'Почати обговорення', post %></div>
      <% end %>
    </div>
    
  </div>
<% end %>