<% set_meta_tags title: @post.title %>

<div style="display:table">
	<div class="table_cell">
	  <div class="rating_up" data-post-id="<%= @post.id %>" data-post-rating="<%= @post.rating %>"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div>
	  <div class="rating_integer_<%= @post.id %>"><%= @post.rating %></div>
	  <div class="rating_down" data-post-id="<%= @post.id %>" data-post-rating="<%= @post.rating %>"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></div>
	</div>
	<% if @post.url.length > 0 %>
    <h5><%= link_to @post.title, @post.url, target: '_blank' %> <small class="text-muted"> (<%= @post.try(:domain) %>)</small></h5> 
  <% else %>
    <h5><%= link_to @post.title, @post %></h5>
  <% end %>
	<div class="post_info">Додав: <%= link_to @post.author.try(:name), user_path(@post.author.try(:id)) %>, <%= time_ago_in_words @post.created_at %></div>
</div>
<p><%= @post.content %></p>
<div class="code"><%= @post.try(:code).try(:html_safe) %></div>
<ul class="post_light_gallery">
  <% @post.photos.each do |i| %>  
    <li class="post_photos" data-src="<%= i %>">
      <img src="<%= i %>" />
    </li>
  <% end %> 
</ul>

<div>
<% if current_user %>
  <% if @post.author.try(:id) == current_user.id || current_user.role == "moderator" %>
		<%= link_to 'Редагувати', edit_post_path(@post) %> |
		<%= link_to "Видалити", @post, method: :delete, data: { confirm: 'Ви впевнені?' } %>
	<% end %>
<% end %>
</div>

<div class="add_comment_to_post">
	<% if current_user %>
		<%= form_for([@post, Comment.new]) do |f| %>
			<div>
		    <%= f.label "Ваш коментар" %><br>
		    <%= f.text_area :message, rows: 5 %>
		  </div>
		  <div>
		    <%= f.hidden_field :user_id, value: current_user.id %>
		  </div>
		  <div>
		    <%= f.hidden_field :post_id, value: @post.id %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Відправити", class: "btn btn-primary" %>
		  </div>
		<% end %>
	<% else %>
		<div class="btn btn-primary pointer" data-toggle="modal" data-target=".bd-example-modal-lg">Додати коментар</div>
	<% end %>
</div>

<div class="comments_post">
	<p>Коментарів: <%= @comments.size %></p>
	<% @comments.where('parent_id is NULL').order('created_at DESC').each do |comment| %>
		<div class="comment">
			<div class="comment_message"><%= comment.message %></div>
			<div class="comment_info">Автор: <%= link_to comment.author_comment.try(:name), user_path(comment.author_comment.try(:id)) %>, <%= time_ago_in_words comment.created_at %></div>
			<div class="comment_answer_button pointer" data-id="<%= comment.id %>">Відповісти</div>
			<div class="you_answer_hide_show you_answer_<%= comment.id %>"  data-reportid="<%= comment.id %>">
				<% if current_user %>
					<%= form_for([@post, Comment.new]) do |fanswer| %>
						<div>
					    <%= fanswer.text_area :message, rows: 5 %>
					  </div>
					  <div>
					    <%= fanswer.hidden_field :user_id, value: current_user.id %>
					  </div>
					  <div>
					    <%= fanswer.hidden_field :post_id, value: @post.id %>
					  </div>
					  <div>
					    <%= fanswer.hidden_field :parent_id, value: comment.id %>
					  </div>
					  <div class="actions">
					    <%= fanswer.submit "Ответить", class: "btn btn-primary" %>
					  </div>
					<% end %>
				<% else %>
					<div class="btn btn-primary">Ввійти на сайт</div>
				<% end %>
			</div>
			<div class="comment_answer">
			<% if comment.children.empty? %>
	      <div></div>
	      <% else %>
	      <% comment.children.each do |answer| %>
	        <div class="comment_message"><%= answer.message %></div>
					<div class="comment_info">Автор: <%= link_to answer.author_comment.try(:name), user_path(answer.author_comment.try(:id)) %>, <%= time_ago_in_words answer.created_at %></div>
	      <% end %>
	    <% end %>
	    </div>
		</div>
	<% end %>
</div>



